# My ignore files
main
consumer
kafka_consumer
kafka_consumer_class
output.out
greeter_client
account_server
greeter_server

*.grpc.pb.cc
*.grpc.pb.h


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

